{% extends 'base.html' %}
{% load static %}

{% block header %}<link rel="stylesheet" href="{% static 'css/me.css' %}"/>{% endblock %}
{% block title %}Что-то обо мне{% endblock %}

{% block content %}
  
<div>
<img src="static/assets/face_s.png" class="face"></img>
</div>
<div class="container">
<div class="name">СЛАВА<br>ДОРОФЕЕВ
</div>
<h2 style="color:#F9832E; margin-bottom: 2em; font-weight:bold; margin-left:16.5em;">PM|PO|dev</h2>
<p>Рожден женщиной, живет с женщиной. Любит сына и смотреть в окно</p>
<p>Любимая шутка:</p>
<h4 style="margin-left:12em; margin-bottom:2em; color:#000;">«Комплексный обед состоит из действительной и мнимой части»</h4>
<p>Я рассказывал его жене раз 30. Или 40. Может все 100. Я так проверяю, что она меня любит. Жена, наверное, догадывается и поэтому всегда смеется</p>
<p style="margin-bottom: 34x;">Увы, но с детьми это не работает. Они смеются над <i>несмешными</i> и полностью игнорируют <i>смешное</i>.</p>
<br>
<p style="color:#000; font-weight:400;">20 лет опыта в разных видах бизнеса - страхование, банковская деятельность, фандрайзинг, строительство, продажи. От продуктового и проектного 
менеджмента в IT до полевого сейла, от мальчика по разносу кофе до создания бизнеса <span style="font-style:italic; font-weight:200;">(не очень успешного, правда ¯\_(ツ)_/¯)</span></p>
<p style="color:#000; font-weight:400;">Рабочие умения в SQL (mySQL|MariaDB) + JQL (Jira QL), Python3 (jupiter|pandas|plotly|django), HTML/CSS, BPMN, Jira|Confluence, 
Slack, DataGrip, Jupiter, GitHub, Mautic, Sketch, Balsamiq, Figma, Adobe, в аффилиатных системах, пост-беках, клоакинге, api, 
масс-мейлинге, GA|GTM, QA, веб и мобильной разработке</p>
<br> 
<p>В разделе проектов мой <a href="projects" style ="font-weight:200;">трудовой путь</a>, в песочнице - пет-проекты для развлечения, в блоге - мусор</p>
<p>Если вдруг вам нужен человек-дятел, швец, жнец и на дуде дудец - мои реквизиты для связи в консоли<p>
</div>
</div>
{% endblock %}
