{% extends 'base.html' %}
{% load static %}
{% block title %}Помойка в деталях{% endblock %}
{% block header %}<link rel="stylesheet" href="{% static 'css/blog.css' %}"/>{% endblock %}

{% block content %}
    <div class="container" style="margin-left:20%;">
	     {% if post.published_date %}
       <h6 class="post-date">{{ post.published_date|date:"d / m / Y"}}</h6>
	      {% endif %}
	       <div class="container-top">
            <h2 class="post-name">{{ post.title }}</h2>
      </div>
      <div class="post-image"><a name="{{ post.title }}">
        {% if post.image %}
          <img src="../../media/{{ post.image }}"}>
        {% else %}
          <img src="{% static "assets/noimage.png" %}" style="margin:0;"}>
        {% endif %}
		</a>
      </div>
      <div class="container-middle">
        <p>{{ post.text|safe }}</p>
      </div>
      <div class="container-bottom"></div>
    </div> 
{% endblock %}
