{% extends 'base.html' %}
{% load static %}

{% block header %}<link rel="stylesheet" href="{% static 'css/projects.css' %}"/>{% endblock %}
{% block title %}Мои проекты{% endblock %}

{% block content %}
<img src="{% static 'assets/timeline.png' %}" style="margin-left:2em; margin-bottom:10em; position:fixed; display:block;">

	<div class="container">
      <div class="conteiner-top">
        <img src="{% static 'icons/icon_pj.png' %}" class="project-icon"></img>
          
        </div>
      <div class="container-middle">
		<h1>PlasticJam</h1>
		<h6>Эссейная ниша</h6>
        <p>Бизнес в эссейной нише для иностранных клиентов. Уйма ролей и задач. Эссейная часть продукта, состоящая из сайтов и лендингов, клиентски кабинет 
		с кастомизацией, самописная CRM и райтерская платформа, плюс аффилиатная система для вебмастеров</p><p>Из яркого - миграция с первого Angular на второй 
		с параллельной сменой клиентского интерфейса и функционала, запуск магазина готовых работ, реализация АВ-тестов, интеграция с Mautic, перезапуск 
		вебмастерского сайта, моделирование системы с кешбеком, реализация постбеков, клоакинг и куча другого</p>
        <p>Отличные три года работы, хорошие люди, с которыми было прикольно работать в одной упряжке</p>
      </div>
     
    </div>
	
    <div class="container">
      <div class="conteiner-top">
        <img src="{% static 'icons/icon_pbm.png' %}" class="project-icon"></img></div>
      <div class="container-middle">
		<h1>PingByMall</h1>
		<h6>Мобильный сервис для магазинов и торговых центров с использованием биконов</h6>
        <p>Проект по интеграции онлайн-севисов в оффлайн-ритейле. Идея заключалась в том, чтобы связать локацию, смартфон пользователя и контент во время 
		блужданий между полками магазина.<br></p>
        <p>Телефон в этом сценарии - безразмерная виртуальная полка с бонусами, рекламой, уценкой и складскими остатками прямо перед глазами клиента. Оффлайн 
		позволяет пощупать товар руками и сразу же его забрать, а <span class="tooltip"><a>биконы<span>Это такие маленькие bluetooth-маячки, которые можно 
		использовать для рекламы, игр, навигации:<br>На фотографии представлен бикон от Estimote<img src="{% static 'assets/ibeacon.jpg' %}" style="width:100%;">
		</span></a></span> позволяют таргетировать контент максимально близко к реальному товару</p>
		<p>Проект не взлетел, демо за давностью лет уже не актуально, но сохранилась небольшая презентация с которой я носился по Украине в поисках клиентов.</p>
      </div>
      <div class="container-bottom">
        <div class="pbm-background">
          <h4 class="btn"><a href="{% static 'assets/p_pbm.pdf' %}" target="_blank">Презентация</a></h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="conteiner-top">
        <img src="{% static 'icons/icon_nologo.svg' %}" class="project-icon"></img></div>
      <div class="container-middle">
		<h1>Справочник для Киевского ботсада</h1>
		<h6>Продолжение идеи с биконами. Теперь для обучения и покупок растений в ботсаду</h6>
        <p>Всё началось с тёщи. Честно. Она большой поклонник озеленения участка, отличает <span class="tooltip"><a>азалию<span><img src="{% static 'assets/azalia.jpg' %}" style="width:100%;">
		</span></a></span> от <span class="tooltip"><a>альстромерии<span><img src="{% static 'assets/alstromeria.jpg' %}" style="width:100%;"></span></a></span>, да и вообще прекрасный человек. Во время одной 
		из прогулок по киевскому ботсаду она с досадой констатировала, что даже если и увидишь интересное растение, то узнать его название, а уж тем более купить не представляется возможным - табличек 
		часто нет и специалисты рядом не ходят</p>
          <p>Тогда и родилась идея ипользовать функционал PBM, чтобы сделать мобильный ботанический справочник с возможностью покупки расстений. Идея проста - использовать маячки, чтобы фильтровать изображения (и описания) расстений в мобильном приложении. Подобный способ позволит облегчить
            визуальную идентификацию. Ну, а потом можно узнать о расстении и его приобрести</p>
		<p>Презентация для ботсада им. Фоменко сохранилась</p>
      </div>
      <div class="container-bottom">
        <div class="garden-background">
          <h4 class="btn"><a href="{% static 'assets/p_garden.pdf' %}" target="_blank">Презентация</a></h4>
        </div>
      </div>
    </div>
 
<!--    
     

    <div class="container">
      <div class="conteiner-top">
        <img src="static/icons/icon_bb.png" class="project-icon"></img>
        <div class="container-top-name">
          <h1 class="project-name">Blockbuster</h1>
          <h6>Мобильная программа лояльности для развлекательного центра «Блокбастер» (Киев)</h6>
        </div>
      </div>
      <div class="container-middle">
        <p>Еще одна тема про <i>биконы</i>. Вместе с развлекательным центром <a href="http://www.blockbuster.ua/">«Блокбастер»</a> мы решили сделать пассивную программу лояльности. Это как бы ты ходишь
          по Блокбастеру, в кино там или на каток, или зайдешь перекусить, а потом - бац, и тебе нотифай приходит, что ты кучу бонусов отгрёб от развлекательного центра.<br></p>
        <div class="citate">
          <div class="qoute"><p>Спрашиваешь, как это всё работает? Ну, мы расставили биконы по развлекательному центру и разбили Блокбастер на зоны. Всякий раз, когда пользователь попадает в зону,
            приложение это отмечает, а потом (если пользователь провел достаточно времени) рассчитывает и закидывает ему бонусы на счёт.</p>
          </div>
        </div>
        <br>
        <p>Идея проста. Если ты провел 10 минут на катке, то вероятнее всего ты оплатил вход. Полчаса в кинозале? Мы знаем сколько стоит билет. 20 минт на фудкорте? Хм… ну, чашку кофе выпил точно. С помощью биконов мы знаем, где ты был и сколько времени провел. Мы даже готовы предположить сколько ты потратил. И накинуть тебе бонусов за это. Бонусы можно отоварить там же, в приложении, купив призы.</p>
        </div>
      <div class="container-bottom">
        <div class="bb-background">
          <h4 class="btn"><a href="#">AppStore</a></h4>
          <h4 class="btn"><a href="https://play.google.com/store/apps/details?id=ua.net.blockbuster.loyalty&hl=ru">PlayMarket</a></h4>
        </div>
      </div>
    </div>

    <div class="separator">
      <h6>Ух ты, целый год пролетел!</h6>
    </div>

    <div class="container">
      <div class="conteiner-top">
        <img src="static/icons/icon_footurum.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Footurum</h1>
            <h6>Мобильный сервис по обучению новым навыкам</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>Не мой проект, но я был причастен на самой ранней стадии <i>/*юзер стори и техдизайн MVP (забракованного)*/</i> и, поскольку мне очень интресна тема обучения и это проект друзей, то решил оставить.
          Изначально была идея сделать мобильное приложение, с помощью которого можно выучить новый навык - английский или тайм-менеджмент, улучшить психическую устойчивость или
          подготовиться к марафону. Прогресс оценивался в "футах" <i>/*мне хочеться считать, что футурум - это <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%BB%D1%8E%D0%B7%D0%B8%D1%8F">
          аллюзия</a> к <span class="tooltip"><a>Пушкину<span>"...Труден первый шаг<br>И скучен первый путь. Преодолел<br>Я ранние невзгоды. Ремесло<br>Поставил я подножием искусству;" </span></a></span>*/</i>,
          была идея подключения живого коуча (за <span class="emoji" style="background-position: -260px -520px;"></span>, конечно). Под конец проект сконцентрировался на беге и текущий статус мне не известен.
          <div class="citate">
            <div class="qoute">
              <p>Как пример сложного развития идеи, отмечу, что Footurum начинался как приложение для родителей и с целью организации детского развития - курсы, секции, занятия и синхронизациий планеров родителей.<br>
                А потом, уже трансформировался в универсальною мобильную платформу по обучению.
              </p>
            </div>
          </div>
          <br>
          <p>Мне очень интересна тема образования. Смартфон может кардинально изменить методологию образования (как это сделал Интернет) - другой ритм обучения <i>/*Ведь смартфон всегда под рукой*/</i>, другая организация контента <i>/*Читать? Смотреть? Слушать? Ах да, и маленький экран*/</i>, другая продолжительность занятий и их интенсивность, другое закрепление материала и прогресс. Всё другое
          </p>
      </div>
      <div class="container-bottom">
        <div class="footurum-background">
        </div>
      </div>
    </div>

    <div class="separator">
        <h6></h6>
      </div>

    <div class="container">
      <div class="conteiner-top">
        <img src="static/icons/icon_bender.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Всякое-разное</h1>
            <h6>Кратко о проектах, с которыми не срослось <i>/*И возможно к счастью*/</i></h6>
          </div>
      </div>
      <div class="container-middle">
        <div style="width:10%; border-bottom:1px dashed #355C7D; margin:17px auto;">
        </div>

        <h3 style="text-align: center;">Банк</h3> <p>Процессинг карточных переводов через сайт для одного киевского банка. Уже даже набросали структуру экранов и архитектуру бекэнда.</p>
          <div class="citate">
            <div class="qoute">
              <p>В наследство мне досталось знание значения термина <b>PCI DSS</b>, его стоимости и факта, что <a href="https://cloud.google.com/security/compliance/pci-dss/">Google Cloud Platform</a> такую сертификацию прошла</p>
            </div>
          </div>
        <div style="width:10%; border-bottom:1px dashed #355C7D; margin:17px auto;">
        </div>
        <br>
        <h3 style="text-align: center;">CTO</h3>
        <p>Большой автодилер хотел сделать мобильный продукт по приемке автомобилей, с возможностью продаж допоборудования и акцессуаров. Ах, да. Там еще планировалась интеграция с SAP'ом. Большой кит -
          большие цели. Не срослось</p>
        <div style="width:10%; border-bottom:1px dashed #355C7D; margin:17px auto;">
        </div>
        <br>
        <h3 style="text-align: center;">Детский развлекательный центр</h3><p>Наверное самый проработанный и невзлетевший проект <i>/*С явной недооценкой стоимости*/</i>.</p>
          <div class="citate">
            <div class="qoute">
              <p>Вкратце, планировалось мобильное приложение с внутренним клиент-банком, играми и рейтингами, поддержкой indoor-локации, а на бекэнде - "банковское ПО" с начислением процентов, CMS и
                аналитика. Короче, вы поняли<span class="emoji emoji-youknow"></span></p>
            </div>
          </div>
          <br>
        <p>Было готово всё - и техдизайн мобильного клиента, и архитектура БД, и логика с спрайтами для мини-игры
          <i>/*А самих игр планировалось аж три!*/</i>. Был даже Гант и <span class="tooltip"><a>pre-команда<span>Тот вид команд, когда все подписались, но никто ничего не делает.</span></a></span></p>
      </div>
      <div class="container-bottom">
        <div class="bender-background">
        </div>
      </div>
    </div>

    <div class="separator">
        <h6></h6>
      </div>

    <div class="container">
      <div class="conteiner-top">
        <img src="static/icons/icon_mdm.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">MobiDM</h1>
            <h6>Сервис по управлению смартфонами</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>Ныне несуществующая компания, ресселерами которой мы выступали в 2014-2015 гг. Главный продукт - облачный сервис по контролю за подключенными к системе смартфонами. Ну, там безопасники
          хотят камеры отключать на корпоративных смартфонах или подчистить почту после увольнения сотрудника. Или <a href="https://fb.com">facebook</a> "забанить". Не сложилось, если чё<span class="emoji emoji-shutup"></span></p>
      </div>
      <div class="container-bottom">
        <div class="veliq-background">
        </div>
      </div>
    </div>

    <div class="separator">
      <h6>И ещё год мимо! Там, ниже, будет совсем кратко и кучно</h6>
    </div>

    <div class="container">
      <div class="conteiner-top">
        <img src="static/icons/icon_termolife.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Termolife</h1>
            <h6>6 месяцев продаж минеральной ваты</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>В приниципе, нечего рассказывать. Был один стоящий проект, ЖК "Зоряный", но он не сросся - не прошел ценой. А так, в активе с тех короткотёчных времён - разбираюсь в утеплителях, барьерах, фасадах, кровлях, стенах и полах. И в производстве минваты. Немного. <i>/*Что, я зря на завод ездил?*/</i> </p>
      </div>
      <div class="conteiner-top">
        <img src="static/icons/icon_nologo.svg" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Дорокс</h1>
            <h6>Стройка и ремонт. Сметы и договора</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>Что-то крутил с продажами. Из веселого - проект по электрике на Конче-Заспе <i>/*Тот случай, когда я нихуя не понимал и был только рад, что нас подвинули другие*/</i> и проект с субподрядом у большой строительной компании. Пришлось делать полноценные сметы и акты. Привет <a href="#">АВК-5</a>, стервозным тёткам-сметчицам и непритязательному строительному юмору</p>
      </div>
      <div class="conteiner-top">
        <img src="static/icons/icon_km.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Kerama Marazzi</h1>
            <h6>Плитка и керамогранит. Это последняя часть моей "строительной" жизни. </h6>
          </div>
      </div>
      <div class="container-middle">
        <p>Одна из самых сильных привязанностей к месту работы за последние годы. До сих пор придирчиво оглядываю стены и пол в помещениях и радуюсь, узнав знакомый узор. Люблю облицовочную керамику, особенно изразцовую. Бурный кусок жизни с командировками</p>
      </div>

      <div class="container-bottom">
        <div class="constr-background">
          <h4 class="btn"><a href="http://kerama-marazzi.com/">Marazzi</a></h4>
          <h4 class="btn"><a href="http://www.termolife.com.ua/">Termolife</a></h4>
        </div>
      </div>
    </div>

	<div class="separator">
      <h6>За раз лет пять! Ниже - десятка</h6>
    </div>

    <div class="container">
      <div class="conteiner-top">
        <img src="static/icons/icon_kyiv.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Банк Киев</h1>
            <h6>2 года абстракции в закутке</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>Кризис и зарплата в 2000 грн. Это всё, что нужно знать. Угораздило же устроиться в банк весной 2008 года. До этого я полагал, что банк это высшие сферы. Ну, там дорогие твидовые костюмы, денежный загар ни лице, стильные тёлки в <i>строго-развратно-офисной</i> одежде.
          Хрена. Комнатенка в цоколе, ездить в ебени, отчет о кредитном портфеле, который собираеться на коленке <i>/*Потому-что настройку <b>SR_bank'a</b> до ума не довели*/</i>.</p>
        <p>Из веселого - упаковка чая "Принцесса Нури", которую у меня на столе оставили толи в благодарность, толи как взятку, <span class="tooltip"><a>хороший коллектив<span>Хотя мне везде, тьфу-тьфу, с коллегами везло</span></a></span>, куча разной работы - начиная с кредитов, пластика, архивов, залогов и заканчивая оперзалом, справками для Deloitte и согласованием взаимозачетов с временной администрацией</p>
      </div>
      <div class="conteiner-top">
        <img src="static/icons/icon_dnepr.png" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Управление жилищных хозяйством</h1>
            <h6>Быстро, чётко, бестолково</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>На самом деле, было две работы в одном месте. Вначале я попал в предприятие, которое должно было заниматься арендой коммунального имущества. Вот тогда я впервые узнал о существовании лазерного дальномера. А через пару месцев я перешел в другой кабинет и занялся тендерами для ЖЕКов.
          <br>Ок, как-то пафосно звучит. Вернее, занялся технической организацей тенедеров - объявления, документация, заявки, отчетность, казначейство, КРУ, прокуратура.
          <div class="citate">
            <div class="qoute">
              <p><i>/*Я сказал "КРУ и прокуратура"? Было немного и нестрашно.*/</i></p>
            </div>
          </div>
          <br>
          <p>Пыльное, теплое лето. Серпентарий, тухлятина. Жрачка в маке</p>
      </div>
      <div class="conteiner-top">
        <img src="static/icons/icon_nologo.svg" class="project-icon"></img>
          <div class="container-top-name">
            <h1 class="project-name">Народная</h1>
            <h6>Первая полноценная работа. Перестрахование. Авиация</h6>
          </div>
      </div>
      <div class="container-middle">
        <p>Пришел туда мальчиком по разносу кофе. Ушёл начальником отдела перестрахования. Кабинеты и этажи. Навернул Novell Netware (единожды) и много раз - "дрова" сетевух под Win 3.11. Уже не помню, но что-то писал на VBA для базы платежек на Access, пока бухгалтерия
          не перехала на 1С. Ниразу не админ. Расшарил интернет, завёл роман, написал несколько правил страхования и пару облигаторных договоров. Классные люди, ламповые времена. Май, секс на работе, коллективная игра в Heroes 3, Blood и DukeNukem. За 8 лет наелся и ушёл в никуда.
        </p>
      </div>

      <div class="container-bottom">
        <div class="finance-background">
        </div>
      </div>
    </div>
-->
<!--   <div class="footer">
      <img src="static/assets/face_cg.png" style="position:absolute; display:inline; width: 207px; height: auto; z-index:1; bottom: 0px; overflow:hidden; left:1074px;">
      </img>
    </div>
-->

  </div>
{% endblock %}
