* {
    margin: 0px;
    padding: 0px;
}

html {
    -height: 100%;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
	/*font-family: 'Lora', serif;
	/*font-family: 'Comfortaa', cursive;
    font-family: 'Manrope', sans-serif;*/
}

a {
    color: #355C7D;
    text-decoration: none;
	font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 200;
    line-height: 1.7em;
    text-align: justify;
    color: #323232;
}

.p1 {
    font-size: 0.67em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 200;
    color: #4C4C4C;
    text-align: right;
}

.page {
    display: table;
    width: 100%;
    -height: 100%;
    margin: 0em auto;
    background-color: #F8F8F8;
}

.header {
    width: inherit;
    margin-left: 0;
    margin-bottom: 4em;
    background-color: #FFFFFF;
    -position: fixed;
    line-height: 4em;
    vertical-align: middle;

    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow;

    transform: perspective(3px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

.menu {
    margin-left: 4em;
    margin-top: 0;
	color: #355C7D;
}

.menu a {
    color: inherit;
    text-decoration: none;
	margin-right: 2em;
    display: inline-block;
    transition: all 0.3s ease-out;
}

/*.header:hover {
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.5);
}*/

.rest:hover {
    color: #F8B195;
    -border-bottom: 1px dashed #C06C84;
}

.menu:focus .rest, .menu:active .rest {
    color: #C06C84;
}

.menu:hover .focus {
    color: #A2A2A2;
}

.contacts {
    float: right;
    display: inline-block;
    color: #ffffff;
    line-height: 2em;
    font-weight: 200;
    text-align: right;
    margin: 21px 17px auto auto;
}

.btn {
    display: inline-block;
    background-color: #355C7D/*#C06C84*/
    ;
    opacity: 0.3;
    padding: 0.3em 0.4em;
    -border-radius: 2px;
    -border: 1px solid #F8B195;
    margin-right: 10px;
    margin-top: 2%;
    color: #ffffff;
    font-weight: 200;
    min-width: 3.5em;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    transition: all 0.3s ease-out;
}

.btn:hover {
    -box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #F9832E;
}

.btn:focus, .btn:active {
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #F67280;
}

.btn:last-child {
    margin-right: 34px;
}

.btn a {
    color: #ffffff;
    text-decoration: none;
}

.btn:hover a {
    color: #355C7D;
}

.separator {
    display: inline-block;
    width: 865px;
    min-height: 1px;
    margin: 0px 0px 34px 142px;
    border-bottom: 1px dashed #F8B195;
    text-align: center;
    font-style: italic;
}

.emoji {
    display: inline-block;
    background: url("../icons/emoji.png") top left no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.emoji-shutup {
    background-position: -420px -440px;
}

.emoji-youknow {
    background-position: -400px -140px;
}

.tooltip {
    position: relative;
}

.tooltip a {
    border-bottom: 1px dashed #355C7D;
}

.tooltip a:hover {
    border-bottom: none;
}

.tooltip a span {
    display: none;
    transition: all 0.3s ease-out;
}

.tooltip a:hover span {
    display: inline-block;
    position: absolute;
    width: 210px;
    height: auto;
    -left: -100px;
    top: 20px;
    right: 0;
    padding: 10px 10px;
    border-radius: 3px;
    border: 2px solid #F8B195;
    box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #4A4A4A;
    text-align: left;
    font-style: normal;
    font-size: 0.83em;
    z-index: 9999;
    line-height: 1.5em;
}