.right-side {
    display: table-cell;
    width: 20%;
    min-height: 70%;
    border-left: 1px dashed #F9832E;
    float: right;
    margin-top: 0px;
}

.right-side ul {
    padding: 1em;
    color: #355C7D;
    text-align: right;
}

.right-side h4 {
	color:#000;
	padding-top:1em;
}



.right-side li {
    position: relative;
    list-style: none;
    margin-top: 0.3em;
    color: #4A4A4A;
    overflow: hidden;
}




.container {
    display: inline-table;
    width: 60%;
	margin-left:15%;
	
	margin-bottom:2em;
	
    background-color: #FFFFFF;

    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow;

    transform: perspective(3px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

.container:hover{
	box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.5);
	
}

.container:hover .btn {
	opacity: 1;
  -box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.container:hover .container-bottom {
	opacity: 1;
  -box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}


.conteiner-top {
    display: block;
    height: 7em;
    margin: 0 0 2em 0;
	float:right;
}

.project-icon {
    display: inline-block;
	width:10em;
	margin:2em;
}




.container-middle{
  margin: 2em 2em 2em 2em;
  padding-left: 0px;
}

.container-middle h6 {
	color:#F9832E;
	font-weight:300;
	margin-bottom:2em;
}

.container-middle h1 {
	font-weight:500;
}

.citate{
  display: block;
  width: 100%;
  height: auto;
  margin:10px 0px;
  text-align: right;
  -overflow: hidden;
}

.qoute{
  display:inline-block;
  width:50%;
  padding: 10px;
  border:1px dashed #F8B195;
  background-color: #F8F8F8;
}

.qoute p{
  font-style: italic;
  text-align: inherit;
  line-height: 1.5em;
  margin:0;
}

.container-bottom {
	overflow:hidden;
	opacity:0;
	display:block;
	height:4em;
	-border-top:1px dashed #F8B195;
	text-align:right;
}

.pbm-background{
  height:inherit;
  background-image:url("../assets/pbm_background_bottom.png");
  background-size: cover;
}

.bb-background{
  height:inherit;
  background-image:url("../assets/bb_background_bottom.png");
  background-size: cover;
}

.garden-background{
  height:inherit;
  background-image:url("../assets/garden_background_bottom.png");
  background-size: cover;
}

.veliq-background{
  height:inherit;
  background-image:url("../assets/veliq_background_bottom.png");
  background-size: cover;
}

.footurum-background{
  height:inherit;
  background-image:url("../assets/footurum_background_bottom.png");
  background-size: cover;
}

.bender-background{
  height:inherit;
  background-image:url("../assets/bender_background_bottom.png");
  background-size: cover;
}

.constr-background{
  height:inherit;
  background-image:url("../assets/constr_background_bottom.png");
  background-size: cover;
}

.finance-background{
  height:inherit;
  background-image:url("../assets/finance_background_bottom.png");
  background-size: cover;
}
