
.face {
    position: fixed;
    float: left;
    margin-left: -2px;
    bottom: 0em;
    margin-bottom: 0em;
    z-index: -1;
    height: 50%;	
}


.container {
    display: inline-block;
	float: right;
    width: 60%;
    margin: 0em 4em 2em 2em;
}

.name {
    font-size: 6em;
    color: #0C0C0C/*#355C7D*/;
    margin-top: -8px;
}